{# extends "FOSUserBundle::layout.html.twig" #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Symfony Tweaks{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      {% block stylesheets %}
      <style>
        .bold{
          font-weight: bold;
        }
	.btn_color{
	  background: #4d4d4d;
	  border-color: #333333;
	}
	.btn_color:hover{
	  background: #333333;
	  border-color: #333333;
	}
	.btn_color:focus{
	  background: #333333;
	  border-color: #333333;
	}
      </style>
      {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>

{% block fos_user_content %}

<div class="container">
  <div class="row main">
	   <div class="col-md-5 col-md-offset-3">
      <div class="panel-heading">
        <div class="panel-title text-center">
          <h3 class="title">Login</h3>
          <hr />
        </div>
      </div>
      {% if error %}
          <div class="alert alert-danger fade1"><i class="fa fa-exclamation-triangle" style="margin-right: .3em;"></i><strong>Error:</strong>
          {{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}
      <div class="main-login main-center">
       <form action="{{ path("fos_user_security_check") }}" method="post">
       <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
         <div class="form-group">
         <label for="username" class="cols-sm-2 control-label">{{ 'Username'|trans({}, 'FOSUserBundle') }}</label>
         <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="_username" id="username"  placeholder="Enter username" value="{{ last_username }}" required/>
           </div>
          </div>
        </div>
         <div class="form-group">
         <label for="password" class="cols-sm-2 control-label">{{ 'Password'|trans({}, 'FOSUserBundle') }}</label>
         <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key fa" aria-hidden="true"></i></span>
            <input type="password" class="form-control" name="_password" id="password"  placeholder="Enter password" required/>
           </div>
          </div>
        </div>
        <div class="form-group ">
         <div class="col-md-6">
           <input type="submit" class="btn btn-primary btn-lg btn-block login-button btn_color" name="_submit" value="{{ 'Login'|trans({}, 'FOSUserBundle') }}"></input>
         </div>
         <div class="col-md-6">
           <a href="/register" class="btn btn-primary btn-lg btn-block login-button btn_color">Register</a>
         </div>
        </div>
      <input type="hidden" name="_target_path" value="/list" />
      </form>
      </div>
    </div>
  </div>
</div>
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/js/jquery.min.js') }}"></script>
    <script>
      $(document).ready(function(){
          $(".fade1").fadeOut(2500);
      });
    </script>
  {% endblock %}

{% endblock fos_user_content %}
